
[Unit]
Description=Real-time-chess-battle Server (%i)
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=rtcb
Group=rtcb
WorkingDirectory=/var/www/real-time-chess-battle/server
Environment=RTCB_SERVER_ID=%i
EnvironmentFile=/var/www/real-time-chess-battle/server/.env
ExecStart=/var/www/real-time-chess-battle/deploy/real-time-chess-battle-worker.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
